# Global Workshop on Earth Observation with Julia
- 9-13 January 2023
- Terceira Island, Azores (Timezone: UTC -1; GMT-1), Portugal, AIR Centre

## Julia for beginners
> 10:20 – 12:15 Hands-on session 1

> Lazaro Alonso  
<img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" width=20/> https://github.com/lazarusA 
> - <font color = teal> **Max Planck Institute for Biogeochemistry** </font>
> - Model-Data Integration Group 
- lalonso@bgc-jena.mpg.de

Find me also on social media:

<img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Mastodon_logotype_%28simple%29_new_hue.svg" width=30/>
<font color = dodgerblue> https://julialang.social/@LazaroAlonso </font>

<img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Twitter-logo.svg" width=30/>
<font color = dodgerblue>  https://twitter.com/LazarusAlon </font>

#### References:
- https://juliadatascience.io
    > by Jose Storopoli, Rik Huijzer and Lazaro Alonso
    
Here I will try to follow the workflow/logic from this book.
- https://docs.julialang.org
- https://docs.julialang.org/en/v1/manual/performance-tips/

**Disclaimer:** 

I'm just a user of the language like you, hence any developer's perspective or in depth technicalities are out of the scope of this talk.

**Overview**

## What is Julia?

* Published around 2012 initially developped at the MIT
* Just in Time compiled
* Optionally typed
* Gives you the best of C, Matlab and Python
* Function oriented not object oriented
* solves the two language problem

#### 10:20-10:40 Language Syntax
- **Variables**
- struct
- Boolean Operators and Numeric comparisons
- Functions
- Multiple Dispatch
- Keyword arguments
- Anonymous Functions
- Conditionals

In [1]:
name = "Julia"
age = 11 # years

11

In [2]:
name

"Julia"

In [3]:
# operations on variables, addition, multiplication
10*age

110

In [4]:
10 + age

21

Q. What type of variables are those? 
> Use `typeof` and find out.

In [5]:
typeof(age)

Int64

In [6]:
typeof(name)

String

- Variables
- **struct**
- Boolean Operators and Numeric comparisons
- Functions
- Multiple Dispatch
- Keyword arguments
- Anonymous Functions
- Conditionals

Having variables around without any sort of hierarchy or relationships is not ideal. In Julia, we can define that kind of structured data with a struct (also known as a composite type).

_Basic, basic, of course the following is not the whole story, but is enough to get us started_

- https://docs.julialang.org/en/v1/manual/performance-tips/#Type-declarations

In [7]:
struct Language
    name::String
    title::String
    year_of_birth::Int64
    fast::Bool
end

In [8]:
fieldnames(Language)

(:name, :title, :year_of_birth, :fast)

Q. How to use them?
> Instantiate as in:

In [9]:
julia = Language("Julia", "Rapidus", 2012, true)

Language("Julia", "Rapidus", 2012, true)

In [10]:
python = Language("Python", "Letargicus", 1991, false)

Language("Python", "Letargicus", 1991, false)

<font color=red>We can’t change their values once they are instantiated.</font>
But, what if I want to update some of those variables, then we use a `mutable struct`.

In [11]:
mutable struct MutableLanguage
    name::String
    title::String
    year_of_birth::Int64
    fast::Bool
end

In [12]:
julia_mutable = MutableLanguage("Julia", "Rapidus", 2012, true)

MutableLanguage("Julia", "Rapidus", 2012, true)

In [13]:
julia_mutable.title = "Python Obliteratus"

"Python Obliteratus"

In [14]:
julia_mutable

MutableLanguage("Julia", "Python Obliteratus", 2012, true)

- Variables
- struct
- **Boolean Operators and Numeric comparisons**
- Functions
- Multiple Dispatch
- Keyword arguments
- Anonymous Functions
- Conditionals

** ! NOT, && AND, || OR**

In [15]:
!true

false

In [16]:
(false && true) || (!false)

true

In [17]:
(6 isa Int64) && (6 isa Real)

true

In [18]:
# equality
1 == 1

true

In [19]:
# less than
1<2

true

In [20]:
# less than or equal to
3.14 <= 3.14

true

In [21]:
# mix with boolean 
(1 != 10) || (3.14 <= 2.71)

true

- Variables
- struct
- Boolean Operators and Numeric comparisons
- **Functions**
- **Multiple Dispatch**
- Keyword arguments
- Anonymous Functions
- Conditionals

In [22]:
f_name(arg1, arg2) = arg1 + arg2

f_name (generic function with 1 method)

In [23]:
function fuction_name(arg1, arg2)
    return arg1 + arg2
end

fuction_name (generic function with 1 method)

In [24]:
f(x,y) = x + y

f (generic function with 1 method)

In [25]:
f(1,2)

3

In [26]:
f(2.0, 1.0)

3.0

In [204]:
VERSION

v"1.8.2"

<font color = red > type declarations </font> Multiple dispatch

- https://docs.julialang.org/en/v1/manual/methods/#Defining-Methods

In [27]:
function round_number(x::Float64)
    return round(x)
end

round_number (generic function with 1 method)

In [28]:
function round_number(x::Int64)
    return x
end

round_number (generic function with 2 methods)

**multiple return values**

In [29]:
function add_multiply(x, y)
    addition = x + y
    multiplication = x * y
    return addition, multiplication
end

add_multiply (generic function with 1 method)

In [30]:
add_multiply(1, 2)

(3, 2)

In [31]:
out = add_multiply(1, 2)

(3, 2)

In [32]:
first(out)

3

In [33]:
last(out)

2

- Variables
- struct
- Boolean Operators and Numeric comparisons
- Functions
- Multiple Dispatch
- **Keyword arguments**
- Anonymous Functions
- Conditionals

In [34]:
function logarithm(x::Real; base::Real=2.7182818284590)
    return log(base, x)
end

logarithm (generic function with 1 method)

In [35]:
logarithm(10)

2.3025850929940845

In [36]:
logarithm(10; base=2)

3.3219280948873626

- Variables
- struct
- Boolean Operators and Numeric comparisons
- Functions
- Multiple Dispatch
- Keyword arguments
- **Anonymous Functions**
- Conditionals

Often we don’t care about the name of the function and want to quickly make one.

In [37]:
map(x -> 2.7182818284590^x, logarithm(2))

2.0

- Variables
- struct
- Boolean Operators and Numeric comparisons
- Functions
- Multiple Dispatch
- Keyword arguments
- Anonymous Functions
- **Conditionals**

Let's compare two numbers, `a` and `b`.

In [38]:
function compare(a, b)
    if a < b
        "a is less than b"
    elseif a > b
        "a is greater than b"
    else
        "a is equal to b"
    end
end

compare (generic function with 1 method)

In [39]:
compare(3.14, 3.14)

"a is equal to b"

A pattern that I use a lot is the following:

In [40]:
function compare_ternary(a, b)
    a < b ? "a is less than b" : a > b ? "a is greater than b" : "a is equal to b"
end

compare_ternary (generic function with 1 method)

In [41]:
compare_ternary(3.14, 3.14)

"a is equal to b"

**The `for` loop ! Use it!**

In [42]:
for i in 1:5
    println(i)
end

1
2
3
4
5

In [43]:
for i ∈ 1:5
    println(i)
end

1
2
3
4
5

#### 10:40-11:00 Native Data Structures
- **String**
- Tuple
- NamedTuple
- UnitRange
- Array
- Pair
- Dict
- Symbol

In [44]:
str1 = "This is a string"

"This is a string"

In [45]:
typeof(str1)

String

In [46]:
str2 = """
    This is a big multiline string with a nested "quotation".
    As you can see.
    It is still a String to Julia.
    """

"This is a big multiline string with a nested \"quotation\".\nAs you can see.\nIt is still a String to Julia.\n"

In [47]:
typeof(str2)

String

In [48]:
# concatenation
hello = "Hello"
goodbye = "Goodbye"

"Goodbye"

In [49]:
hello*goodbye

"HelloGoodbye"

In [50]:
join([hello, goodbye], " ")

"Hello Goodbye"

In [51]:
# String Interpolation
"$hello $goodbye"

"Hello Goodbye"

In [52]:
function compare_interpolate(a, b)
    a < b ? "$a is less than $b" : a > b ? "$a is greater than $b" : "$a is equal to $b"
end

compare_interpolate (generic function with 1 method)

In [53]:
compare_interpolate(3.14, 3.14)

"3.14 is equal to 3.14"

**Functions to manipulate strings**

In [54]:
julia_string = "Julia is an amazing open source programming language"

"Julia is an amazing open source programming language"

In [55]:
contains(julia_string, "Julia")

true

In [56]:
startswith(julia_string, "Julia")

true

In [57]:
endswith(julia_string, "Julia")

false

In [58]:
lowercase(julia_string)

"julia is an amazing open source programming language"

In [59]:
uppercase(julia_string)

"JULIA IS AN AMAZING OPEN SOURCE PROGRAMMING LANGUAGE"

In [60]:
titlecase(julia_string)

"Julia Is An Amazing Open Source Programming Language"

In [61]:
lowercasefirst(julia_string)

"julia is an amazing open source programming language"

In [62]:
replace(julia_string, "amazing" => "awesome")

"Julia is an awesome open source programming language"

In [63]:
split(julia_string, " ")

8-element Vector{SubString{String}}:
 "Julia"
 "is"
 "an"
 "amazing"
 "open"
 "source"
 "programming"
 "language"

**String Conversions**

In [64]:
string(123)

"123"

In [65]:
parse(Int64, "123")

123

- String
- **Tuple**
- NamedTuple
- UnitRange
- Array
- Pair
- Dict
- Symbol

In [66]:
my_tuple = (1, 3.14, "Julia") # immutable struct

(1, 3.14, "Julia")

In [67]:
add_mul = add_multiply(1, 2)

(3, 2)

In [68]:
typeof(add_mul)

Tuple{Int64, Int64}

Mix anonymous functions and tuples

In [69]:
map((x, y) -> x^y, 2, 3)

8

In [70]:
map((x, y, z) -> x^y + z, 2, 3, 1)

9

- String
- Tuple
- **NamedTuple**
- UnitRange
- Array
- Pair
- Dict
- Symbol

In [71]:
my_namedtuple = (i=1, f=3.14, s="Julia")

(i = 1, f = 3.14, s = "Julia")

In [72]:
my_namedtuple.f

3.14

In [73]:
it = 1
ft = 3.14
st = "Julia"

"Julia"

Begin the named tuple construction by specifying first a semicolon ; before the values

In [74]:
my_quick_namedtuple = (; it, ft, st)

(it = 1, ft = 3.14, st = "Julia")

- String
- Tuple
- NamedTuple
- **UnitRange**
- Array
- Pair
- Dict
- Symbol

In [75]:
1:10

1:10

In [76]:
typeof(1:10)

UnitRange{Int64}

In [77]:
0.0:0.2:1.0

0.0:0.2:1.0

In [78]:
typeof(0.0:0.2:1.0)

StepRangeLen{Float64, Base.TwicePrecision{Float64}, Base.TwicePrecision{Float64}, Int64}

- String
- Tuple
- NamedTuple
- UnitRange
- **Array**
- Pair
- Dict
- Symbol

If you want to _materialize_ a range into a collection, you can use the function `collect`

In [79]:
collect(1:5)

5-element Vector{Int64}:
 1
 2
 3
 4
 5

In [80]:
myarray = [1, 2, 3]

3-element Vector{Int64}:
 1
 2
 3

Let’s start with array types. There are several, but we will focus on the following two

- Vector{T}: one-dimensional array. Alias for Array{T, 1}.
- Matrix{T}: two-dimensional array. Alias for Array{T, 2}.

In [81]:
my_vector = Vector{Float64}(undef, 10)

10-element Vector{Float64}:
 8.83711743e-316
 8.8412241e-316
 8.8761502e-316
 8.84178694e-316
 8.83721703e-316
 8.8372194e-316
 8.83722177e-316
 8.84176164e-316
 8.8417648e-316
 8.84176797e-316

In [82]:
my_matrix = Matrix{Float64}(undef, 10, 2)

10×2 Matrix{Float64}:
 9.15565e-316  9.1558e-316
 9.15565e-316  9.15582e-316
 9.15565e-316  9.15583e-316
 9.15565e-316  9.15584e-316
 9.15566e-316  9.15591e-316
 9.15569e-316  9.15593e-316
 9.1557e-316   9.15594e-316
 9.15572e-316  9.15594e-316
 9.15572e-316  9.15594e-316
 9.15575e-316  9.15594e-316

**Common arrays**

In [83]:
zeros(3,3)

3×3 Matrix{Float64}:
 0.0  0.0  0.0
 0.0  0.0  0.0
 0.0  0.0  0.0

In [84]:
ones(Int64, 3,3)

3×3 Matrix{Int64}:
 1  1  1
 1  1  1
 1  1  1

This also works: (array literals)

In [85]:
[[1 2]
 [3 4]]

2×2 Matrix{Int64}:
 1  2
 3  4

In [86]:
Float64[[1 2]
        [3 4]]

2×2 Matrix{Float64}:
 1.0  2.0
 3.0  4.0

In [87]:
# mix and match
[ones(Int, 2, 2) zeros(Int, 2, 2)]

2×4 Matrix{Int64}:
 1  1  0  0
 1  1  0  0

In [88]:
# array comprehension
[x^2 for x in 1:5]

5-element Vector{Int64}:
  1
  4
  9
 16
 25

In [89]:
[x*y for x in 1:5 for y in 1:2]

10-element Vector{Int64}:
  1
  2
  2
  4
  3
  6
  4
  8
  5
 10

In [90]:
[x*y for x in 1:5, y in 1:2]

5×2 Matrix{Int64}:
 1   2
 2   4
 3   6
 4   8
 5  10

In [91]:
# conditional
[x^2 for x in 1:5 if isodd(x)]

3-element Vector{Int64}:
  1
  9
 25

**Concatenation**: to chain together.

In [92]:
cat(ones(2), zeros(2), dims=1) # vcat

4-element Vector{Float64}:
 1.0
 1.0
 0.0
 0.0

In [93]:
cat(ones(2), zeros(2), dims=2) # hcat

2×2 Matrix{Float64}:
 1.0  0.0
 1.0  0.0

**Array Inspection**
- What type of elements are inside an array ?

In [94]:
eltype(myarray)

Int64

In [95]:
length(myarray) # total number of elements

3

In [96]:
ndims(myarray) # number of dimensions

1

In [97]:
size(myarray) # array’s dimensions

(3,)

In [98]:
size(myarray, 1)

3

**Indexing and slicing**

In [99]:
# example vector
ex_vec = [1, 2, 3, 4, 5]

5-element Vector{Int64}:
 1
 2
 3
 4
 5

In [100]:
# example matrix
ex_mat = [[1 2 3]
          [4 5 6]
          [7 8 9]]

3×3 Matrix{Int64}:
 1  2  3
 4  5  6
 7  8  9

In [101]:
ex_vec[3]

3

In [102]:
ex_mat[2,1]

4

In [103]:
ex_vec[end]

5

In [104]:
ex_mat[end, begin]

7

**slicing**

In [105]:
ex_vec[2:4]

3-element Vector{Int64}:
 2
 3
 4

In [106]:
ex_mat[2, :]

3-element Vector{Int64}:
 4
 5
 6

**Manipulations**

In [107]:
ex_mat[2,2] = 100

100

In [108]:
ex_mat

3×3 Matrix{Int64}:
 1    2  3
 4  100  6
 7    8  9

In [109]:
ex_mat[3, :] = [17,16,15]

3-element Vector{Int64}:
 17
 16
 15

In [110]:
ex_mat

3×3 Matrix{Int64}:
  1    2   3
  4  100   6
 17   16  15

`reshape`

In [111]:
six_vector = [1, 2, 3, 4, 5, 6]

6-element Vector{Int64}:
 1
 2
 3
 4
 5
 6

In [112]:
three_two_matrix = reshape(six_vector, (3, 2))

3×2 Matrix{Int64}:
 1  4
 2  5
 3  6

In [113]:
reshape(three_two_matrix, (6, ))

6-element Vector{Int64}:
 1
 2
 3
 4
 5
 6

**Apply a function over every array element**

In [114]:
log.(ex_mat)

3×3 Matrix{Float64}:
 0.0      0.693147  1.09861
 1.38629  4.60517   1.79176
 2.83321  2.77259   2.70805

Dot `.` operator, broadcasting

In [115]:
ex_mat .+ 100

3×3 Matrix{Int64}:
 101  102  103
 104  200  106
 117  116  115

In [116]:
map(log, ex_mat)

3×3 Matrix{Float64}:
 0.0      0.693147  1.09861
 1.38629  4.60517   1.79176
 2.83321  2.77259   2.70805

In [117]:
map(x -> 3x, ex_mat)

3×3 Matrix{Int64}:
  3    6   9
 12  300  18
 51   48  45

In [118]:
(x -> 3x).(ex_mat)

3×3 Matrix{Int64}:
  3    6   9
 12  300  18
 51   48  45

`mapslices`

In [119]:
mapslices(sum, ex_mat; dims=1)

1×3 Matrix{Int64}:
 22  118  24

In [120]:
mapslices(sum, ex_mat; dims=2)

3×1 Matrix{Int64}:
   6
 110
  48

**Array Iteration**

In [121]:
simple_vector = [1, 2, 3]

empty_vector = Int64[]

for i in simple_vector
    push!(empty_vector, i + 1)
end

empty_vector

3-element Vector{Int64}:
 2
 3
 4

In [122]:
forty_twos = [42, 42, 42]

empty_vector = Int64[]

for i in eachindex(forty_twos)
    push!(empty_vector, i)
end

empty_vector

3-element Vector{Int64}:
 1
 2
 3

- String
- Tuple
- NamedTuple
- UnitRange
- Array
- **Pair**
- **Dict**
- **Symbol**

In [123]:
my_pair = "Julia" => 42

"Julia" => 42

In [124]:
name2number_map = Dict("one" => 1, "two" => 2)

Dict{String, Int64} with 2 entries:
  "two" => 2
  "one" => 1

In [125]:
sym = :some_text

:some_text

**Splat Operator**

In [126]:
add_elements(a, b, c) = a + b + c

add_elements (generic function with 1 method)

In [127]:
my_collection = [1, 2, 3]

3-element Vector{Int64}:
 1
 2
 3

In [128]:
add_elements(my_collection...)

6

In [129]:
add_elements(1:3...)

6

#### 11:00-11:20 using Pkg
- **Project Management**
- DataFrames
- Create a DataFrame
- using CSV
- write and read
- name and slicing

In [130]:
using Pkg

In [131]:
Pkg.status()

Status `C:\Users\sdani\SimiWorld\ProgrammerLife\Conferences\JuliaEO\JuliaEO\notebooks\hands_on_sessions\Julia_for_beginners\Project.toml`
  [336ed68f] CSV v0.10.9
  [324d7699] CategoricalArrays v0.10.7
  [a93c6f00] DataFrames v1.4.4
  [ade2ca70] Dates
  [10745b16] Statistics

In [132]:
Pkg.activate(".")

  Activating project at `C:\Users\sdani\SimiWorld\ProgrammerLife\Conferences\JuliaEO\JuliaEO\notebooks\hands_on_sessions\Julia_for_beginners`

In [133]:
Pkg.status()

Status `C:\Users\sdani\SimiWorld\ProgrammerLife\Conferences\JuliaEO\JuliaEO\notebooks\hands_on_sessions\Julia_for_beginners\Project.toml`
  [336ed68f] CSV v0.10.9
  [324d7699] CategoricalArrays v0.10.7
  [a93c6f00] DataFrames v1.4.4
  [ade2ca70] Dates
  [10745b16] Statistics

In [134]:
Pkg.add("DataFrames")

    Updating registry at `C:\Users\sdani\.julia\registries\General.toml`
   Resolving package versions...
  No Changes to `C:\Users\sdani\SimiWorld\ProgrammerLife\Conferences\JuliaEO\JuliaEO\notebooks\hands_on_sessions\Julia_for_beginners\Project.toml`
    Updating `C:\Users\sdani\SimiWorld\ProgrammerLife\Conferences\JuliaEO\JuliaEO\notebooks\hands_on_sessions\Julia_for_beginners\Manifest.toml`
  [e66e0078] ↓ CompilerSupportLibraries_jll v1.0.1+0 ⇒ v0.5.2+0

In [135]:
Pkg.status()

Status `C:\Users\sdani\SimiWorld\ProgrammerLife\Conferences\JuliaEO\JuliaEO\notebooks\hands_on_sessions\Julia_for_beginners\Project.toml`
  [336ed68f] CSV v0.10.9
  [324d7699] CategoricalArrays v0.10.7
  [a93c6f00] DataFrames v1.4.4
  [ade2ca70] Dates
  [10745b16] Statistics

In [136]:
using DataFrames

[ Info: Precompiling DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0]

In [137]:
 df = DataFrame(; name=["Sally", "Bob", "Alice", "Hank"],
    grade_2020=[1, 5, 8.5, 4])

4×2 DataFrame
 Row │ name    grade_2020
     │ String  Float64
─────┼────────────────────
   1 │ Sally          1.0
   2 │ Bob            5.0
   3 │ Alice          8.5
   4 │ Hank           4.0

In [138]:
Pkg.add("CSV")

   Resolving package versions...
  No Changes to `C:\Users\sdani\SimiWorld\ProgrammerLife\Conferences\JuliaEO\JuliaEO\notebooks\hands_on_sessions\Julia_for_beginners\Project.toml`
  No Changes to `C:\Users\sdani\SimiWorld\ProgrammerLife\Conferences\JuliaEO\JuliaEO\notebooks\hands_on_sessions\Julia_for_beginners\Manifest.toml`

In [139]:
Pkg.status()

Status `C:\Users\sdani\SimiWorld\ProgrammerLife\Conferences\JuliaEO\JuliaEO\notebooks\hands_on_sessions\Julia_for_beginners\Project.toml`
  [336ed68f] CSV v0.10.9
  [324d7699] CategoricalArrays v0.10.7
  [a93c6f00] DataFrames v1.4.4
  [ade2ca70] Dates
  [10745b16] Statistics

In [140]:
using CSV

[ Info: Precompiling CSV [336ed68f-0bac-5ca0-87d4-7b16caf5d00b]

In [141]:
CSV.write("grades.csv", df)

"grades.csv"

In [142]:
df = CSV.read("grades.csv", DataFrame)

4×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Sally           1.0
   2 │ Bob             5.0
   3 │ Alice           8.5
   4 │ Hank            4.0

In [143]:
df.name

4-element Vector{String7}:
 "Sally"
 "Bob"
 "Alice"
 "Hank"

In [144]:
df[!, :name] # :grade_2020

4-element Vector{String7}:
 "Sally"
 "Bob"
 "Alice"
 "Hank"

In [145]:
# makes a new copy
df[:, :name]

4-element Vector{String7}:
 "Sally"
 "Bob"
 "Alice"
 "Hank"

In [146]:
df[1, :name]

"Sally"

In [147]:
df[1:2, :name]

2-element Vector{String7}:
 "Sally"
 "Bob"

#### 11:20-11:40 Tabular data
- **filter**
- subset
- select
- Categorical Data
- **Join**
- innerjoin, outerjoin, crossjoin, leftjoin, rightjoin, semijoin, antijoin

In [148]:
filter(x-> x>3, [1,2,3,4,5])

2-element Vector{Int64}:
 4
 5

For DataFrames

`filter(source => f::Function, df)`

In [149]:
df

4×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Sally           1.0
   2 │ Bob             5.0
   3 │ Alice           8.5
   4 │ Hank            4.0

In [150]:
# for DataFrames
equals_alice(name) = name == "Alice"

equals_alice (generic function with 1 method)

In [151]:
filter(:name => equals_alice, df)

1×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Alice           8.5

Also works for a vector!

In [152]:
filter(equals_alice, ["Alice", "Bob", "Dave"])

1-element Vector{String}:
 "Alice"

In [153]:
# anonymous function
filter(:name => n -> n == "Alice", df)

1×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Alice           8.5

Maybe a better way will be:

In [154]:
filter(:name => ==("Alice"), df)

1×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Alice           8.5

Or, not Alice ?

In [155]:
filter(:name => !=("Alice"), df)

3×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Sally           1.0
   2 │ Bob             5.0
   3 │ Hank            4.0

- filter
- **subset**
- select
- Categorical Data
- **Join**
- innerjoin, outerjoin, crossjoin, leftjoin, rightjoin, semijoin, antijoin

`subset` works on complete columns

In [156]:
subset(df, :name => ByRow(equals_alice))

1×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Alice           8.5

In [157]:
subset(df, :name => ByRow(name -> name == "Alice"))

1×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Alice           8.5

In [158]:
subset(df, :name => ByRow(==("Alice")))

1×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Alice           8.5

- filter
- subset
- **select**
- Categorical Data
- **Join**
- innerjoin, outerjoin, crossjoin, leftjoin, rightjoin, semijoin, antijoin

In [159]:
function responses()
    id = [1, 2]
    q1 = [28, 61]
    q2 = [:us, :fr]
    q3 = ["F", "B"]
    q4 = ["B", "C"]
    q5 = ["A", "E"]
    DataFrame(; id, q1, q2, q3, q4, q5)
end

responses (generic function with 1 method)

In [160]:
resp = responses()

2×6 DataFrame
 Row │ id     q1     q2      q3      q4      q5
     │ Int64  Int64  Symbol  String  String  String
─────┼──────────────────────────────────────────────
   1 │     1     28  us      F       B       A
   2 │     2     61  fr      B       C       E

In [161]:
select(resp, :id, :q1)

2×2 DataFrame
 Row │ id     q1
     │ Int64  Int64
─────┼──────────────
   1 │     1     28
   2 │     2     61

In [162]:
select(resp, "id", "q1", "q2")

2×3 DataFrame
 Row │ id     q1     q2
     │ Int64  Int64  Symbol
─────┼──────────────────────
   1 │     1     28  us
   2 │     2     61  fr

In [163]:
# regex
select(resp, r"^q")

2×5 DataFrame
 Row │ q1     q2      q3      q4      q5
     │ Int64  Symbol  String  String  String
─────┼───────────────────────────────────────
   1 │    28  us      F       B       A
   2 │    61  fr      B       C       E

In [164]:
select(resp, Not(:q5))

2×5 DataFrame
 Row │ id     q1     q2      q3      q4
     │ Int64  Int64  Symbol  String  String
─────┼──────────────────────────────────────
   1 │     1     28  us      F       B
   2 │     2     61  fr      B       C

In [165]:
select(resp, Not([:q4, :q5]))

2×4 DataFrame
 Row │ id     q1     q2      q3
     │ Int64  Int64  Symbol  String
─────┼──────────────────────────────
   1 │     1     28  us      F
   2 │     2     61  fr      B

In [166]:
# mix and match columns that we want to preserve with columns that we do Not want
select(resp, :q5, Not(:q5))

2×6 DataFrame
 Row │ q5      id     q1     q2      q3      q4
     │ String  Int64  Int64  Symbol  String  String
─────┼──────────────────────────────────────────────
   1 │ A           1     28  us      F       B
   2 │ E           2     61  fr      B       C

In [167]:
select(resp, :q5, :)

2×6 DataFrame
 Row │ q5      id     q1     q2      q3      q4
     │ String  Int64  Int64  Symbol  String  String
─────┼──────────────────────────────────────────────
   1 │ A           1     28  us      F       B
   2 │ E           2     61  fr      B       C

**renaming columns via `select`**

In [168]:
select(resp, 1, :q1, :q2)

2×3 DataFrame
 Row │ id     q1     q2
     │ Int64  Int64  Symbol
─────┼──────────────────────
   1 │     1     28  us
   2 │     2     61  fr

In [169]:
select(resp, 1 => "participant", :q1 => "age", :q2 => "nationality")

2×3 DataFrame
 Row │ participant  age    nationality
     │ Int64        Int64  Symbol
─────┼─────────────────────────────────
   1 │           1     28  us
   2 │           2     61  fr

- filter
- subset
- select
- **Categorical Data**
- **Join**
- innerjoin, outerjoin, crossjoin, leftjoin, rightjoin, semijoin, antijoin

In [170]:
Pkg.add(["CategoricalArrays", "Dates"])

   Resolving package versions...
  No Changes to `C:\Users\sdani\SimiWorld\ProgrammerLife\Conferences\JuliaEO\JuliaEO\notebooks\hands_on_sessions\Julia_for_beginners\Project.toml`
  No Changes to `C:\Users\sdani\SimiWorld\ProgrammerLife\Conferences\JuliaEO\JuliaEO\notebooks\hands_on_sessions\Julia_for_beginners\Manifest.toml`

In [171]:
using CategoricalArrays, Dates

[ Info: Precompiling CategoricalArrays [324d7699-5711-5eae-9e2f-1d82baa6b597]

In [172]:
function date_col()
    id = 1:4
    date =Date.(["28-01-2018", "03-04-2019", "01-08-2018", "22-11-2020"],
        dateformat"dd-mm-yyyy")
    age = ["adolescent", "adult", "infant", "adult"]
    DataFrame(; id, date, age)
end

date_col (generic function with 1 method)

In [173]:
date_col()

4×3 DataFrame
 Row │ id     date        age
     │ Int64  Date        String
─────┼───────────────────────────────
   1 │     1  2018-01-28  adolescent
   2 │     2  2019-04-03  adult
   3 │     3  2018-08-01  infant
   4 │     4  2020-11-22  adult

In [174]:
sort(date_col(), :age)

4×3 DataFrame
 Row │ id     date        age
     │ Int64  Date        String
─────┼───────────────────────────────
   1 │     1  2018-01-28  adolescent
   2 │     2  2019-04-03  adult
   3 │     4  2020-11-22  adult
   4 │     3  2018-08-01  infant

In [175]:
function fix_categ(df)
    levels = ["infant", "adolescent", "adult"]
    ages = categorical(df[!, :age]; levels, ordered=true)
    df[!, :age] = ages
    df
end

fix_categ (generic function with 1 method)

In [176]:
df_categ = fix_categ(date_col())

4×3 DataFrame
 Row │ id     date        age
     │ Int64  Date        Cat…
─────┼───────────────────────────────
   1 │     1  2018-01-28  adolescent
   2 │     2  2019-04-03  adult
   3 │     3  2018-08-01  infant
   4 │     4  2020-11-22  adult

In [177]:
a = df_categ[1, :age]
b = df_categ[2, :age]
a < b

true

- filter
- subset
- select
- Categorical Data
- **Join**
- innerjoin, outerjoin, crossjoin, leftjoin, rightjoin, semijoin, antijoin

In [178]:
df_2021 = DataFrame(; name=["Bob 2", "Sally", "Hank"],
grade_2021=[9.5, 9.5, 6])

3×2 DataFrame
 Row │ name    grade_2021
     │ String  Float64
─────┼────────────────────
   1 │ Bob 2          9.5
   2 │ Sally          9.5
   3 │ Hank           6.0

In [179]:
innerjoin(df, df_2021)

LoadError: ArgumentError: Missing join argument 'on'.

In [180]:
innerjoin(df, df_2021, on=:name)

2×3 DataFrame
 Row │ name     grade_2020  grade_2021
     │ String7  Float64     Float64
─────┼─────────────────────────────────
   1 │ Sally           1.0         9.5
   2 │ Hank            4.0         6.0

Do the others !

#### 11:40-12:15 Variable Transformations
- **transform**
- groupby
- combine
- dropmissing
- coalesce [replace missing values]
- skipmissing

In [181]:
plus_one(grades) = grades .+ 1

plus_one (generic function with 1 method)

In [182]:
transform(df, :grade_2020 => plus_one)

4×3 DataFrame
 Row │ name     grade_2020  grade_2020_plus_one
     │ String7  Float64     Float64
─────┼──────────────────────────────────────────
   1 │ Sally           1.0                  2.0
   2 │ Bob             5.0                  6.0
   3 │ Alice           8.5                  9.5
   4 │ Hank            4.0                  5.0

In [183]:
# rename
transform(df, :grade_2020 => plus_one => :grade_2020)

4×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Sally           2.0
   2 │ Bob             6.0
   3 │ Alice           9.5
   4 │ Hank            5.0

In [184]:
# rename false
transform(df, :grade_2020 => plus_one; renamecols=false)

4×2 DataFrame
 Row │ name     grade_2020
     │ String7  Float64
─────┼─────────────────────
   1 │ Sally           2.0
   2 │ Bob             6.0
   3 │ Alice           9.5
   4 │ Hank            5.0

- transform
- **groupby**
- **combine**
- dropmissing
- coalesce [replace missing values]
- skipmissing

In [185]:
function all_grades(df1, df2)
    df1 = select(df1, :name, :grade_2020 => :grade)
    df2 = select(df2, :name, :grade_2021 => :grade)
    rename_bob2(data_col) = replace.(data_col, "Bob 2" => "Bob")
    df2 = transform(df2, :name => rename_bob2 => :name)
    return vcat(df1, df2)
end

all_grades (generic function with 1 method)

In [186]:
df_grades = all_grades(df, df_2021)

7×2 DataFrame
 Row │ name    grade
     │ String  Float64
─────┼─────────────────
   1 │ Sally       1.0
   2 │ Bob         5.0
   3 │ Alice       8.5
   4 │ Hank        4.0
   5 │ Bob         9.5
   6 │ Sally       9.5
   7 │ Hank        6.0

In [187]:
groupby(df_grades, :name)

GroupedDataFrame with 4 groups based on key: name
First Group (2 rows): name = "Sally"
 Row │ name    grade
     │ String  Float64
─────┼─────────────────
   1 │ Sally       1.0
   2 │ Sally       9.5
⋮
Last Group (2 rows): name = "Hank"
 Row │ name    grade
     │ String  Float64
─────┼─────────────────
   1 │ Hank        4.0
   2 │ Hank        6.0

In [188]:
Pkg.add("Statistics")

   Resolving package versions...
  No Changes to `C:\Users\sdani\SimiWorld\ProgrammerLife\Conferences\JuliaEO\JuliaEO\notebooks\hands_on_sessions\Julia_for_beginners\Project.toml`
  No Changes to `C:\Users\sdani\SimiWorld\ProgrammerLife\Conferences\JuliaEO\JuliaEO\notebooks\hands_on_sessions\Julia_for_beginners\Manifest.toml`

In [189]:
using Statistics

In [190]:
gdf = groupby(df_grades, :name)
combine(gdf, :grade => mean)

4×2 DataFrame
 Row │ name    grade_mean
     │ String  Float64
─────┼────────────────────
   1 │ Sally         5.25
   2 │ Bob           7.25
   3 │ Alice         8.5
   4 │ Hank          5.0

But what if we want to apply a function to multiple columns of our dataset?

In [191]:
group = [:A, :A, :B, :B]
X = 1:4
Y = 5:8
df_g = DataFrame(; group, X, Y)

4×3 DataFrame
 Row │ group   X      Y
     │ Symbol  Int64  Int64
─────┼──────────────────────
   1 │ A           1      5
   2 │ A           2      6
   3 │ B           3      7
   4 │ B           4      8

In [192]:
gdf = groupby(df_g, :group)
combine(gdf, [:X, :Y] .=> mean; renamecols=false)

2×3 DataFrame
 Row │ group   X        Y
     │ Symbol  Float64  Float64
─────┼──────────────────────────
   1 │ A           1.5      5.5
   2 │ B           3.5      7.5

- transform
- groupby
- combine
- **dropmissing**
- **coalesce [replace missing values]**
- skipmissing

In [193]:
df_missing = DataFrame(;
    name=[missing, "Sally", "Alice", "Hank"],
    age=[17, missing, 20, 19],
    grade_2020=[5.0, 1.0, missing, 4.0],
)

4×3 DataFrame
 Row │ name     age      grade_2020
     │ String?  Int64?   Float64?
─────┼──────────────────────────────
   1 │ missing       17         5.0
   2 │ Sally    missing         1.0
   3 │ Alice         20   missing
   4 │ Hank          19         4.0

In [194]:
dropmissing(df_missing)

1×3 DataFrame
 Row │ name    age    grade_2020
     │ String  Int64  Float64
─────┼───────────────────────────
   1 │ Hank       19         4.0

In [195]:
dropmissing(df_missing, :name)

3×3 DataFrame
 Row │ name    age      grade_2020
     │ String  Int64?   Float64?
─────┼─────────────────────────────
   1 │ Sally   missing         1.0
   2 │ Alice        20   missing
   3 │ Hank         19         4.0

In [196]:
dropmissing(df_missing, [:name, :age])

2×3 DataFrame
 Row │ name    age    grade_2020
     │ String  Int64  Float64?
─────┼───────────────────────────
   1 │ Alice      20   missing
   2 │ Hank       19         4.0

In [197]:
filter(:name => !ismissing, df_missing)

3×3 DataFrame
 Row │ name     age      grade_2020
     │ String?  Int64?   Float64?
─────┼──────────────────────────────
   1 │ Sally    missing         1.0
   2 │ Alice         20   missing
   3 │ Hank          19         4.0

In [198]:
coalesce.([missing, "some value", missing], "zero")

3-element Vector{String}:
 "zero"
 "some value"
 "zero"

- transform
- groupby
- combine
- dropmissing
- coalesce [replace missing values]
- **skipmissing**

In [199]:
combine(df_missing, :grade_2020 => mean)

1×1 DataFrame
 Row │ grade_2020_mean
     │ Missing
─────┼─────────────────
   1 │         missing

In [200]:
combine(df_missing, :grade_2020 => mean ∘ skipmissing )

1×1 DataFrame
 Row │ grade_2020_mean_skipmissing
     │ Float64
─────┼─────────────────────────────
   1 │                     3.33333

#### Summary
- Language Syntax
- Native Data Structures
- using Pkg
- Tabular data
- Variable Transformations

In [201]:
Pkg.status()

Status `C:\Users\sdani\SimiWorld\ProgrammerLife\Conferences\JuliaEO\JuliaEO\notebooks\hands_on_sessions\Julia_for_beginners\Project.toml`
  [336ed68f] CSV v0.10.9
  [324d7699] CategoricalArrays v0.10.7
  [a93c6f00] DataFrames v1.4.4
  [ade2ca70] Dates
  [10745b16] Statistics